<div class="testimonials" data-component="testimonials">
  <div class="testimonials-container container overflow-auto">
    {# social proof #}
    <div class="testimonials__header mb-16 uppercase text-center font-heading font-bold">
      <p>As Seen On</p>
      <div class="testimonials-logos flex flex-wrap items-center justify-center gap-8 mt-5">
        {% include 'svg/logos/afar.twig' %}
        {% include 'svg/logos/menshealth.twig' %}
        {% include 'svg/logos/timeout.twig' %}
        {% include 'svg/logos/spymag.twig' %}
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for testimonial in testimonials %}
        <div class="swiper-slide">
          <div class="testimonial">
            <div class="testimonial-rating mb-6 flex gap-1">
              {% for star in 1..5 %} {% include "svg/star.twig" %} {% endfor %}
            </div>
            <div class="testimonial-quote text-[30px] lg:text-5xl font-bold leading-[120%] mb-4">
              {{ testimonial.content }}
            </div>
            <div class="testimonial-author flex items-center gap-4 text-[18px] mt-12">
              <div class="testimonial-avatar w-14 h-14 rounded-full overflow-hidden bg-red">
                {% if testimonial.slide_author.image %}
                  <img
                    // with size optimization
                    src="{{ testimonial.slide_author.image.src|resize(112, 112) }}"
                    alt="Student Avatar"
                    class="w-full h-full object-cover"
                  />
                {% endif %}
              </div>
              <div class="testimonial-info flex flex-col gap-0.5">
                <p class="testimonial-name font-bold">{{ testimonial.slide_author.name }}</p>
                <p class="testimonial-role text-secondary">{{ testimonial.slide_author.role }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="testimonials__pagination"></div>
    </div>
  </div>
</div>