<footer class="site-footer" role="contentinfo">
  <div class="site-footer__container">
    <div class="site-footer__grid">
      <div class="site-footer__left">
        <div class="flex flex-col min-w-[229px] gap-5">
          <div class="site-footer__logo w-[133px] max-w-full">
            {% include "svg/logo.twig" %}
          </div>
          <p>Copyright © {{"now"|date('Y')}} Unlimited Martial Arts, All rights reserved.</p>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_50_657)">
            <path d="M7.0301 0.0844134C5.7533 0.144653 4.88138 0.348413 4.11914 0.647933C3.33026 0.955374 2.66162 1.36793 1.99634 2.03561C1.33106 2.70329 0.921379 3.37241 0.616099 4.16249C0.320659 4.92641 0.120499 5.79905 0.0640995 7.07657C0.00769946 8.35409 -0.00478054 8.76473 0.00145946 12.0235C0.00769946 15.2822 0.0220995 15.6907 0.0840195 16.9708C0.144979 18.2474 0.348019 19.1191 0.647539 19.8815C0.955459 20.6704 1.36754 21.3388 2.03546 22.0043C2.70338 22.6699 3.37202 23.0786 4.16402 23.3843C4.92722 23.6793 5.8001 23.8804 7.07738 23.9363C8.35466 23.9923 8.76578 24.0052 12.0235 23.999C15.2813 23.9927 15.6915 23.9783 16.9714 23.9176C18.2513 23.8569 19.1184 23.6524 19.8811 23.3543C20.67 23.0457 21.3389 22.6343 22.0039 21.9662C22.669 21.298 23.0784 20.6284 23.3835 19.8379C23.6791 19.0747 23.88 18.2018 23.9355 16.9255C23.9914 15.6446 24.0046 15.2356 23.9983 11.9774C23.9921 8.71913 23.9775 8.31065 23.9167 7.03097C23.856 5.75129 23.6527 4.88225 23.3535 4.11929C23.0451 3.33041 22.6335 2.66249 21.9658 1.99649C21.2981 1.33049 20.628 0.921294 19.8377 0.616974C19.074 0.321533 18.2016 0.120173 16.9243 0.0649734C15.6471 0.00977342 15.2359 -0.00438658 11.977 0.00185342C8.71802 0.00809342 8.31002 0.0220134 7.0301 0.0844134ZM7.17026 21.7775C6.00026 21.7267 5.36498 21.5323 4.94162 21.3695C4.38098 21.1535 3.98162 20.8924 3.5597 20.4746C3.13778 20.0567 2.87858 19.6559 2.6597 19.0965C2.4953 18.6731 2.2973 18.0386 2.24258 16.8686C2.18306 15.604 2.17058 15.2243 2.16362 12.0206C2.15666 8.81681 2.1689 8.43761 2.22434 7.17257C2.27426 6.00353 2.46986 5.36753 2.63234 4.94441C2.84834 4.38305 3.1085 3.98441 3.5273 3.56273C3.9461 3.14105 4.3457 2.88137 4.90562 2.66249C5.3285 2.49737 5.96306 2.30105 7.13258 2.24537C8.3981 2.18537 8.7773 2.17337 11.9806 2.16641C15.1839 2.15945 15.564 2.17145 16.83 2.22713C17.9991 2.27801 18.6353 2.47169 19.0579 2.63513C19.6188 2.85113 20.0179 3.11057 20.4396 3.53009C20.8613 3.94961 21.1212 4.34777 21.3401 4.90889C21.5055 5.33057 21.7018 5.96489 21.757 7.13513C21.8172 8.40065 21.8309 8.78009 21.8367 11.9831C21.8424 15.1862 21.8311 15.5666 21.7757 16.8311C21.7246 18.0011 21.5307 18.6367 21.3677 19.0605C21.1517 19.6209 20.8913 20.0205 20.4723 20.4419C20.0532 20.8634 19.6541 21.1231 19.0939 21.3419C18.6715 21.5068 18.0363 21.7036 16.8677 21.7593C15.6022 21.8188 15.223 21.8313 12.0185 21.8383C8.81402 21.8452 8.43602 21.8323 7.1705 21.7775M16.9529 5.58689C16.9534 5.87172 17.0383 6.15001 17.1969 6.38656C17.3556 6.62311 17.5808 6.8073 17.8442 6.91584C18.1075 7.02438 18.3971 7.05238 18.6764 6.99632C18.9556 6.94025 19.212 6.80263 19.413 6.60086C19.614 6.39909 19.7507 6.14223 19.8058 5.86277C19.8608 5.58332 19.8317 5.29381 19.7222 5.03088C19.6127 4.76794 19.4277 4.54339 19.1906 4.38561C18.9534 4.22783 18.6748 4.14392 18.39 4.14449C18.0082 4.14526 17.6423 4.29764 17.3728 4.56813C17.1033 4.83861 16.9523 5.20507 16.9529 5.58689ZM5.8385 12.0124C5.84522 15.4156 8.60906 18.1682 12.0115 18.1617C15.414 18.1552 18.1685 15.3916 18.162 11.9884C18.1555 8.58521 15.391 5.83193 11.988 5.83865C8.58506 5.84537 5.83202 8.60969 5.8385 12.0124ZM7.99994 12.0081C7.99837 11.217 8.23144 10.4431 8.66968 9.78444C9.10791 9.12576 9.73162 8.61183 10.4619 8.30763C11.1923 8.00342 11.9964 7.92262 12.7726 8.07543C13.5489 8.22823 14.2624 8.60779 14.8229 9.1661C15.3834 9.72442 15.7658 10.4364 15.9217 11.212C16.0776 11.9877 15.9999 12.7921 15.6986 13.5236C15.3973 14.2551 14.8859 14.8809 14.2289 15.3217C13.572 15.7626 12.7991 15.9987 12.0079 16.0003C11.4826 16.0014 10.9622 15.899 10.4765 15.6989C9.99076 15.4989 9.54918 15.2051 9.17699 14.8344C8.8048 14.4637 8.50929 14.0233 8.30733 13.5383C8.10537 13.0534 8.00091 12.5334 7.99994 12.0081Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_50_657">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        </div>
        <div class="flex flex-col gap-2.5 min-w-[229px]">
          <span class="font-bold text-white">Contact</span>	
          <span>505 Union Ave, Brooklyn, NY 11211</span>
          <a class="header__phone" href="tel:718-218-7515">718-218-7515</a>
          <a class="header__email" href="mailto:uma@gmail.com">uma@gmail.com</a>
          <a href="https://www.instagram.com/unlimitedmartialarts/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">@umabrooklyn</a>
        </div>
        <div class="flex flex-col gap-2.5 min-w-[229px]">
          <span class="font-bold text-white">Hours of Operation</span>	
          <span>Monday - Friday: 12:00 PM - 9:00 PM</span>
          <span>Saturday: 8 AM - 8 PM</span>
          <span>Sunday: Closed</span>
        </div>
      </div>
    </div>
  </div>
</footer>
