.cards {
  @apply lg:my-48 my-20 overflow-hidden;

  .swiper {
    overflow: visible;
    @apply container-wide opacity-0 lg:hidden;
    &.swiper-initialized {
      @apply opacity-100;
    }
  }

  .cards-container {
    @apply grid grid-cols-3 gap-5;
  }

  .cards__header {
    @apply text-center mb-10;
  }

  .cards__pagination {
    @apply mt-5 lg:mt-16 flex justify-center gap-4 lg:hidden;
  }

  .swiper-pagination-bullet {
    @apply bg-secondary opacity-100;

    &.swiper-pagination-bullet-active {
      @apply bg-highlight;
    }
  }
}

.card {
  aspect-ratio: 447/598;
  @apply rounded-2xl bg-white relative overflow-hidden bg-cover bg-center;

  .card-info {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    @apply absolute bottom-0 left-0 right-0;
    @apply rounded-2xl px-6 py-5 mb-3 mx-2;
  }
}
