<div class="landing-hero relative text-sm">
  <div class="landing-hero__bg z-0" style="background-image: url('{{ bg_image }}');"></div>
  <div class="container flex flex-col justify-center items-center relative z-10">
    <div class="success-page__icon mb-8">
      {% include "svg/success.twig" %}
    </div>
    <div class="success-check max-w-full">
      <h1 class="heading-display leading-[120%] font-heading uppercase font-bold text-center">
        {{ title }}
      </h1>
      <div class="[&>*+*]:mt-[1em] mt-2 text-lg font-light w-[550px] max-w-full">
        <p class="text-secondary text-center mx-auto">We’ve received your information and will contact you within 24 hours to schedule your class time.</p>
        <p class="text-secondary text-center mx-auto">While you wait, follow us on Instagram @umabrooklyn to see what we’re up to!</p>
      </div>
    </div>
  </div>
</div>