{% set animation_array = [250, 150, 350] %}

<div class="cards" data-component="cards-section">
  <div class="cards__header">
    <h2 class="heading-display font-heading font-bold mb-4 max-w-[1113px] mx-auto uppercase text-balance" data-text-reveal="text-reveal">
      {{ title}}
    </h2>
  </div>
    <div class="desktop-cards hidden lg:block">
    <div class="cards-container container-wide grid grid-cols-1 lg:grid-cols-3 gap-5">
      {% set cards_length = cards|length %}
      {% if cards_length < 3 %}
        {% for card in cards %}
          {% include 'components/cards-section/card.twig' with { card: card } %}
        {% endfor %}
      {% else %}
        {% for column in 0..2 %}
          <div class="card-column-{{ column + 1 }} flex flex-col gap-5" style="transform: translateY({{ animation_array[column] }}px)" data-card-column>
            {% set start_index = column %}
            {% for i in start_index..cards_length-1 %}
              {% if (i - column) % 3 == 0 and cards[i] is defined %}
                {% include 'components/cards-section/card.twig' with { card: cards[i] } %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
    {% for card in cards %}
      <div class="swiper-slide">
        {% include 'components/cards-section/card.twig' with { card: card } %}
      </div>
    {% endfor %}
    </div>
    <div class="cards__pagination"></div>
  </div>
</div>