<div class="cta">
  <div class="cta__container">
    <div class="cta__left">
      <h1 class="heading-display leading-[120%] font-heading uppercase font-bold">
        {{ title }}
      </h1>
      <p class="text-2xl mt-2 mb-5">{{ subtitle }}</p>
      <p class="text-secondary mt-12 mb-5">
        {{ text}}
      </p>
    </div>
    <div class="cta__right">
      <form class="form">
        <div class="form-field">
          <label for="name">Full Name</label>
          <input type="text" name="name" placeholder="Full Name" required />
        </div>
        <div class="form-field">
          <label for="email">Email Address</label>
          <input type="email" name="email" placeholder="Email Address" required />
        </div>
        <div class="form-field">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" placeholder="Phone Number" required />
        </div>
        <button type="submit" class="btn btn--primary">Claim my FREE Trial</button>
      </form>
    </div>
  </div>
</div>